<section class="section alt">
  <div class="container">
    <div class="hero-unit">
      <h1>Who are these people?</h1>
    </div>
  </div>
</section>

<section class="section" id="content" role="main">
  <div class="container">
    <div class="row-fluid">
      <div class="span9">
        <article id="intro">
          <p>
            Kickstart was founded in 2012 by <a href="#matt">Matt Wynne</a> and <a href="#chris">Chris Parsons</a>. Our goal is to make software development more enjoyable for everyone involved.
          </p>
        </article>

        <article id="matt">
          <header>
            <h2>Matt Wynne
            <small><a href="http://twitter.com/mattwynne">@mattwynne</a></small>
            </h2>
          </header>
              <p>
                Matt is one of the world's leading BDD practitioners. A programmer, coach, trainer and popular international speaker, he was as invited to join the Cucumber core team in 2009. Together with Aslak Hellesoy, the creator of Cucumber, he's co-author of <a href="http://pragprog.com/books/hwcuc">The Cucumber Book, Behaviour-Driven Development for Developers and Testers</a>.
              </p>

          <div class="row-fluid">
            <div class="span6">
              <p>
                Matt has worked with large organisations like the BBC. He conceived, organised and facilitated Bootstrapd, a non-profit conference for bootstrapped startups in Europe. He also runs <a href="http://relishapp.com">Relishapp.com</a> which hosts Cucumber documentation for projects.
              </p>

              <p>
                Matt has spoken at Agile 2009, XP day London, Agile Cambridge, Scottish Ruby Conference, Gotham Ruby Conference, QCon NYC, Software Practice Advancement, Software Craftsmanship UK, and Turku Agile day.
              </p>
            </div>
            <div class="span6">
              <figure class='thumbnail-figure'>
                <img src="/images/matt.png">
              </figure>
            </div>
          </div>
        </article>

        <article id="chris">
          <header>
            <h2>Chris Parsons
              <small><a href="http://twitter.com/chrismdp">@chrismdp</a></small></h2>
          </header>
          <p>
            Chris is an itinerant agilist, programmer, writer and trainer. He consults in technical architecture and agile management and was the owner of the highly respected Ruby shop, Eden Development, which led the way in applying the BDD process to client projects.
</p>
          <div class="row-fluid">
            <div class="span6">
              <figure class='thumbnail-figure'>
                <img src="/images/chris.png">
              </figure>
            </div>
            <div class="span6">
              <p>More recently, Chris designed the hosting infrastructure and was one of the leading developers on e-petitions, a high profile web application that was written using BDD techniques and had 17 million visits in its first year. His clients have included large organisations such as the BBC and GOV.UK, the new UK government portal launched in October 2012, as well as a number of startups.
              </p>

              <p>
                Chris trains and speaks internationally on Ruby, Cucumber, being agile, code quality and programmer education at conferences including Rubyconf, the Scottish Ruby Conference, and Software Craftsmanship North America and Software Craftsmanship UK.
              </p>
            </div>
          </div>

        </article>
      </div>
      <aside class="span3 sidebar">
        <div class="hero-unit">
          <p>Sign up for the BDD Kickstart newsletter</p>
          <form action="http://thinkcodelearn.createsend.com/t/r/s/yhtrfu/" method="post" class="form-vertical">
            <input type="text" name="cm-yhtrfu-yhtrfu" id="yhtrfu-yhtrfu" placeholder="Email"/>
            <button type="submit" class="btn btn-primary">Sign me up</button>
          </form>
        </div>
      </aside>
    </div>
  </div>
</section>


<section class="section alt">
  <div class="container">
    <div class="hero-unit">
      <h1>Our team</h1>
    </div>
  </div>
</section>

<section class="section" id="team">
  <div class="container">
    <div class="row-fluid">
      <div class="span9">
        <article id="intro">
          <p>
            We hand-pick only the most experienced practitioners for your delectation.
          </p>
        </article>

        <article id="julien">
          <header>
            <h2>Julien Biezemans
            <small><a href="http://twitter.com/jbpros">@jbpros</a></small>
            </h2>
          </header>
          <div class="row-fluid">
            <div class="span7">
              <p>
                Julien is a fervent BDDer who loves writing code, building
                well-crafted conducive software as well as sharing knowledge and
                techniques with other passionate people. He has a strong
                experience of software development thanks to more than 9 years of
                working with teams building applications written in Ruby, PHP, Perl
                and – more recently – JavaScript (Node.js).
              </p>
              <p>
                Julien is a member of the Cucumber core team. He is the lead developer
                of Cucumber.js, the JavaScript implementation of the well-known BDD
                automation tool and he's taking part in several Cucumber-related
                projects.
              </p>
              <p>
                Today, Julien is applying BDD practices on a daily basis as CTO and
                lead developer in a startup building a top-notch realtime web
                application based on Node.js. He has also delivered in-house BDD
                training and coaching sessions to several teams.
              </p>
            </div>
            <div class="span5">
              <figure class='thumbnail-figure'>
                <img src="/images/julien.png">
              </figure>
            </div>
          </div>
        </article>

        <article id="seb">
          <header>
            <h2>Seb Rose
            <small><a href="http://twitter.com/sebrose">@sebrose</a></small>
            </h2>
          </header>
          <div class="row-fluid">
            <div class="span7">
              <p>
                Seb is an independent software developer, trainer and coach. He specialises in
                working with teams adopting and refining their agile practices, with a particular focus 
                on delivering software through the use of examples using BDD and TDD.
              </p>
              <p>
                He first worked as a programmer writing applications for estate agents and solicitors
                in compiled BASIC on an Apple II. He has worked with many mainstream technologies since 
                then, for many well-known companies, such as Amazon, IBM, NCR, HBOS, Standard Life and Aegon.
              </p>
              <p>
                He is a regular conference speaker (ACCU, XPDay, Scandinavian Developer's Conference, 
                Agile North, Developer Day Scotland, Agile on the Beach, Lean Agile Scotland) as well 
                as a contributing author to O'Reilly's "97 Things Every Programmer Should Know"
              </p>
            </div>
            <div class="span5">
              <figure class='thumbnail-figure'>
                <img src="/images/seb-sm-bw.png">
              </figure>
            </div>
          </div>
        </article>
            <article id="seb">
              <header>
                <h2>Robert Chatley
                <small><a href="http://twitter.com/rchatley">@rchatley</a></small>
                </h2>
              </header>
              <div class="row-fluid">
                <div class="span7">
                  <p>
                  Robert is a software engineer - a consultant, coach and trainer with a focus on agile development. He has worked in companies ranging from startups to multinationals. He has a keen interest in education, as well as having a continued involvement in the software development community. Robert believes that agile methods together with rigorous engineering practices make building software more predictable, more reliable, and more fun.
                  </p>
                  <p>
                    He was chair of XPDay, the UK's premiere agile development conference, for 2007 and 2008 and is co-programme chair for Software Practice Advancement (SPA) 2012-13. He is a regular speaker at international software development conferences. Robert holds an MEng degree in Information Systems Engineering and PhD in Software Engineering from Imperial College London. He is a visiting lecturer in the Dept of Computing at Imperial and also at the University of Oxford.
                  </p>
                </div>
                <div class="span5">
                  <figure class='thumbnail-figure'>
                    <img src="/images/rob.png">
                  </figure>
                </div>
              </div>
            </article>
      </div>
      <aside class="span3 sidebar">
        <div class="hero-unit">
          <p>Sign up for the BDD Kickstart newsletter</p>
          <form action="http://thinkcodelearn.createsend.com/t/r/s/yhtrfu/" method="post" class="form-vertical">
            <input type="text" name="cm-yhtrfu-yhtrfu" id="yhtrfu-yhtrfu" placeholder="Email"/>
            <button type="submit" class="btn btn-primary">Sign me up</button>
          </form>
        </div>
      </aside>
    </div>
  </div>
</section>
