<section class="section" id="promo">
  <div class="container">
    <div class="hero-unit">
      <h1>In-house courses</h1>
      <p>
        Running a course in-house gives you advantages over attending a public course. You control the date and venue and, more importantly, we'll adapt the material to fit your team and your context.
      </p>
      <p>
        An in-house course is a great way to build the enthusiasm and expertise to make your team's transition to Continuous Delivery a success.
      </p>
      <p>We're still putting together the details of packages for in-house courses on CD, but if you're interested, please do get in touch and we'll do our best to put something together for you.
      </p>
      
    </div>
    <a class='btn' href='mailto:hello@cdkickstart.com?subject=CD Kickstart In-House Enquiry'>Enquire About Courses</a>
  </div>
</section>
