section#promo.section.alt
  .container
    .hero-unit
      .row-fluid
        .span8
          h1
            | Coaching
          p
            |  Here's a little secret: there's only so much you can learn from a training couse. 
          p
            |  We know that our training gives you the knowledge, skills and confidence to get off to a flying start with BDD. We also know that there are problems you'll only be able to see once you've applied those ideas in practice. 
          p
            |  That's when you're ready for a coach. 
          p
            |  With a coach on board, you'll have a mentor who you can turn to when you're stuck or unsure about what to do. Specifically, our coaching will involve activities like: 
          ul
            li
              | Facilitating 
              em
                | 3 amigos
              |  specification workshops
            li
              | Reviewing feature files to advise on the appropriate level of detail
            li
              | Advising on test strategies and choice of technology
            li
              | Reviewing test code and suggesting improvements
            li
              | Teaching techniques to eliminate flickering tests
            li
              | Facilitating retrospective workshops to reflect on your BDD adoption
          p
            |  We offer a simple package, consisting of a blend of on-site visits, conference calls and unlimited email over a three month period. You team will also gain access to our private alumni mailing list. We're happy to be engaged for longer assignments too. 
          p
            |  In order to ensure a basic level of understanding when we start, someone on your team needs to have been on the course: if you haven't had the opportunity yet, check out our 
            a[href="/dates"]
              | public dates
            |  or our 
            a[href="/in-house-courses"]
              | in-house packages
            | . 
          h2
            a.btn.btn-primary.btn-large[href="mailto:sales@cucumber.pro?subject=In-house training enquiry"]
              | Request a call
        .well.pricing-table.span4.pull-center
          h3
            span.blocked
              | 3 months coaching
          h2.pricing-table-price
            span
              | £
            |  7,500 
          ul.pricing-table-list
            li
              | Three one-day site visits †
            li
              | Three follow up Q&A conference calls †
            li
              | Unlimited email support †
            li
              | Membership of private BDD Kickstart alumni mailing list
          a.btn.btn-primary[href="mailto:sales@cucumber.pro?subject=BDD Kickstart Basic Enquiry"]
            | Request a call
section#content.section[role="main"]
  .container
    .row-fluid
      .span12
        .muted
          | Prices exclude VAT where appropriate.
          br
          |  † to be used within the 3 months time period set. 
