<section class='section alt' id='promo'>
  <div class='container'>
    <div class='hero-unit'>
      <div class='row-fluid'>
        <div class='span8'>
          <h1>Coaching</h1>
          <p>
            Here's a little secret: there's only so much you can learn from a training couse.
          </p>

          <p>
            We know that our training gives you the knowledge, skills and confidence to get off to a flying start with BDD. We also know that there are problems you'll only be able to see once you've applied those ideas in practice.
          </p>

          <p>
            That's when you're ready for a coach.
          </p>

          <p>
            With a coach on board, you'll have a mentor who you can turn to when you're stuck or unsure about what to do. Specifically, our coaching will involve activities like:
          </p>

          <ul>
            <li>Facilitating <em>3 amigos</em> specification workshops</li>
            <li>Reviewing feature files to advise on the appropriate level of detail</li>
            <li>Advising on test strategies and choice of technology</li>
            <li>Reviewing test code and suggesting improvements</li>
            <li>Teaching techniques to eliminate flickering tests</li>
            <li>Facilitating retrospective workshops to reflect on your BDD adoption</li>
          </ul>

          <p>
            We offer a simple package, consisting of a blend of on-site visits, conference calls and unlimited email over a three month period. You team will also gain access to our private alumni mailing list. We're happy to be engaged for longer assignments too.
          </p>

          <p>
            In order to ensure a basic level of understanding when we start, someone on your team needs to have been on the course: if you haven't had the opportunity yet, check out our <a href='/dates'>public dates</a> or our <a href='/in-house-courses'>in-house packages</a>.
          </p>
          <h2>
            <a class="btn btn-primary btn-large" href="mailto:hello@bddkickstart.com?subject=In-house training enquiry">Request a call</a>
          </h2>
        </div>
        <div class='well pricing-table span4 pull-center'>
          <h3><span class='blocked'>3 months coaching</span></h3>
          <h2 class='pricing-table-price'>
            <span>£</span>
            7,500
          </h2>
          <ul class='pricing-table-list'>
            <li>Three one-day site visits †</li>
            <li>Three follow up Q&amp;A conference calls †</li>
            <li>Unlimited email support †</li>
            <li>Membership of private BDD Kickstart alumni mailing list</li>
          </ul>
          <a class='btn btn-primary' href='mailto:hello@bddkickstart.com?subject=BDD Kickstart Basic Enquiry'>Request a call</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section class='section' id='content' role='main'>
  <div class='container'>
    <div class='row-fluid'>
      <div class='span12'>
        <div class='muted'>Prices exclude VAT where appropriate.<br/>
          † to be used within the 3 months time period set.
        </div>
      </div>
    </div>
  </div>
</section>
