  <section class='section alt'>
    <div class="container">
      <div class="hero-unit">
        <h1>When can we start?</h1>
      </div>
    </div>
  </section>
  <section class='section' id="brussels">
    <div class='container'>
      <div class='page-header'>
        <h1>
          Brussels
          <small>February 5-7 2013</small>
        </h1>
      </div>
      <div class='row-fluid'>
        <div class='span12'>
          <p>
            Venue TBC.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class='section' id="barca">
    <div class='container'>
      <div class='page-header'>
        <h1>
          Barcelona
          <small>September 11-13 2013</small>
        </h1>
      </div>
      <div class='row-fluid'>
        <div class='span12'>
          <p>
            Venue TBC.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
