    <!-- Main Content -->
    <div id='content' role='main'>
      <section class='section alt' id='promo'>
        <div class='container'>
          <div class='hero-unit'>
            <h1>What is BDD Kickstart?</h1>
            <p>
              In three days, we'll teach you everything you need to be off and running with Behaviour-Driven Development.
            </p>

            <p>
              We'll start by teaching you the <a href="#fundamentals">fundamental principles</a> of BDD, and how it fits into the wider world of agile 
              software development. We'll show you how to run specification workshops to explore new functionality as a 
              collaborative activity, show you how to express those specifications as executable tests, and give you a demo
              of Cucumber in action.
            </p>

            <p>
              The following two days are about <a href="#applied">applying those fundamentals in practice</a>.
            </p>

          </div>
          <div class='row-fluid'>
            <div class='well span4 pull-center'>
              <h3>
                <i class='icon-truck huge-icon'></i>
                <span class='blocked'>Ship value sooner</span>
              </h3>
              <p>
                Learn expert techniques to break down requirements into bite-size pieces. Now you can focus on shipping the valuable stuff.
              </p>
            </div>
            <div class='well span4 pull-center'>
              <h3>
                <i class='icon-signal huge-icon'></i>
                <span class='blocked'>Predictable Quality</span>
              </h3>
              <p>
                No more frantic scrambling before a deadline. Learn to push the risk, uncertainty and 
                discovery to the front of your project, so you can stroll over the finish line.
              </p>
            </div>
            <div class='well span4 pull-center'>
              <h3>
                <i class='icon-umbrella huge-icon'></i>
                <span class='blocked'>Protection from defects</span>
              </h3>
              <p>
                You'll learn how <i>living documentation</i> produced by a BDD process can catch bugs before they're even written, and provide lasting protection against regression bugs.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class='section' id='fundamentals'>
        <div class='container'>
          <div class='page-header'>
            <h1>
              BDD Fundamentals
              <small>One-day workshop for anyone involved in software delivery.</small>
            </h1>
          </div>
          <div class='row-fluid'>
            <ul class='thumbnails bordered'>
              <li class='span6'>
                <div class='row-fluid'>
                  <div class='span4 pull-center'>
                    <i class='icon-refresh enormous-icon circled pull-center'></i>
                  </div>
                  <div class='span8'>
                    <h3>Faster feedback</h3>
                    <p>
                      Agile software development is all about feedback. Learn how BDD tightens the feedback loop by taking a deep dive into new functionality without writing a line of code.
                    </p>
                  </div>
                </div>
                <hr>
                <div class='row-fluid'>
                  <div class='span4 pull-center'>
                    <i class='icon-comments enormous-icon circled pull-center'></i>
                  </div>
                  <div class='span8'>
                    <h3>Focussed Communication</h3>
                    <p>
                      Nobody likes meetings, yet converstation is the heart of an agile team. Learn to facilitate
                      <i>3 amigos</i> specification workshop that's fast and effective.
                    </p>
                  </div>
                </div>
                </hr>
              </li>
              <li class='span6'>
                <div class='row-fluid'>
                  <div class='span4 pull-center'>
                    <i class='icon-group enormous-icon circled pull-center'></i>
                  </div>
                  <div class='span8'>
                    <h3>Enhanced Teamwork</h3>
                    <p>
                      Explore how adopting BDD will change your current working practices, and make decisions about how you'll implement what you've learned.
                    </p>
                  </div>
                </div>
                <hr>
                <div class='row-fluid'>
                  <div class='span4 pull-center'>
                    <i class='icon-retweet enormous-icon circled pull-center'></i>
                  </div>
                  <div class='span8'>
                    <h3>Faster feedback</h3>
                    <p>
                      Agile software development is all about feedback. Learn how BDD can tighten the feedback loop by allowing the team to explore new features in depth without writing a line of code.
                    </p>
                  </div>
                </div>
                </hr>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class='section alt' id="applied">
        <div class='container'>
          <div class='page-header'>
            <h1>
              BDD Applied
              <small>Two-day technical workshop for developers, testers and architects.</small>
            </h1>
          </div>
          <div class='row-fluid'>
            <ul class='thumbnails bordered'>
              <li class='span6'>
                <div class='row-fluid'>
                  <div class='span4 pull-center'>
                    <i class='icon-beaker enormous-icon circled pull-center'></i>
                  </div>
                  <div class='span8'>
                    <h3>Key examples</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
                <hr>
                <div class='row-fluid'>
                  <div class='span4 pull-center'>
                    <i class='icon-cogs enormous-icon circled pull-center'></i>
                  </div>
                  <div class='span8'>
                    <h3>Maintainable test code</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
                </hr>
              </li>
              <li class='span6'>
                <div class='row-fluid'>
                  <div class='span4 pull-center'>
                    <i class='icon-cloud enormous-icon circled pull-center'></i>
                  </div>
                  <div class='span8'>
                    <h3>Cloud services</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
                <hr>
                <div class='row-fluid'>
                  <div class='span4 pull-center'>
                    <i class='icon-comments-alt enormous-icon circled pull-center'></i>
                  </div>
                  <div class='span8'>
                    <h3>Social apps</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
                </hr>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
