    <!-- Main Content -->
    <div id='content' role='main'>
      <section class='section alt' id='promo'>
        <div class='container'>
          <div class='hero-unit'>
            <h1>What is BDD Kickstart?</h1>
            <p>
              In three days, we'll teach you everything you need to be off and running with Behaviour-Driven Development.
            </p>

            <p>
              We'll start by teaching you the <a href="#fundamentals">fundamental principles</a> of BDD, and how it fits 
              into the wider world of agile. We'll show you how to run specification workshops to explore new functionality as a 
              collaborative activity, and show you how to express those specifications as executable Cucumber tests.
            </p>

            <p>
              Then we'll start <a href="#applied">applying those fundamentals in practice</a>. We'll show you how to automate 
              your application, whether it's a Java web service, a rich AJAX web application or a Flash game. We'll explore 
              what to do as your test suite grows in size, and prepare you for the major hurdles most teams run into
              as they start to adopt BDD.
            </p>

            <p>
              We recommend attending the full course, but you can book individual modules if you prefer.</p>
            </p>

          </div>
        </div>
      </section>
      <section class='section' id='fundamentals'>
        <div class='container'>
          <div class='page-header'>
            <h1>
              BDD Fundamentals
              <small>One-day workshop for anyone involved in software delivery.</small>
            </h1>
          </div>
          <div class='row-fluid'>
            <ul class='thumbnails bordered'>
              <li class='span6'>
                <div class='row-fluid'>
                  <div class='span4 pull-center'>
                    <i class='icon-refresh enormous-icon circled pull-center'></i>
                  </div>
                  <div class='span8'>
                    <h3>Faster feedback</h3>
                    <p>
                      Agile software development is all about feedback. Learn how BDD tightens the feedback loop by exploring new functionality without writing any code.
                    </p>
                  </div>
                </div>
                <hr>
                <div class='row-fluid'>
                  <div class='span4 pull-center'>
                    <i class='icon-comments enormous-icon circled pull-center'></i>
                  </div>
                  <div class='span8'>
                    <h3>Focussed Communication</h3>
                    <p>
                      Nobody likes meetings, yet converstation is the heart of an agile team. Learn to facilitate
                      <i>3 amigos</i> specification workshop that's fast and effective.
                    </p>
                  </div>
                </div>
                </hr>
              </li>
              <li class='span6'>
                <div class='row-fluid'>
                  <div class='span4 pull-center'>
                    <i class='icon-group enormous-icon circled pull-center'></i>
                  </div>
                  <div class='span8'>
                    <h3>Enhanced Teamwork</h3>
                    <p>
                      Explore how adopting BDD will change your current working practices, and make decisions about how you'll implement what you've learned.
                    </p>
                  </div>
                </div>
                <hr>
                <div class='row-fluid'>
                  <div class='span4 pull-center'>
                    <i class='icon-ok-sign enormous-icon circled pull-center'></i>
                  </div>
                  <div class='span8'>
                    <h3>Living documentation</h3>
                    <p>
                      Learn how to write specifications that not only document how your system behaves, but are guaranteed to be accurate.
                    </p>
                  </div>
                </div>
                </hr>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class='section alt' id="applied">
        <div class='container'>
          <div class='page-header'>
            <h1>
              BDD Applied
              <small>Two-day technical workshop for developers, testers and architects.</small>
            </h1>
          </div>
          <div class='row-fluid'>
            <ul class='thumbnails bordered'>
              <li class='span6'>
                <div class='row-fluid'>
                  <div class='span4 pull-center'>
                    <i class='icon-key enormous-icon circled pull-center'></i>
                  </div>
                  <div class='span8'>
                    <h3>Key examples</h3>
                    <p>
                      With practical examples, we'll show you how to decide which
                      scenarios should be expressed in business-readable tests, and which belong as unit tests, so you can
                      avoid becoming overwhelmed by detail.
                    </p>
                  </div>
                </div>
                <hr>
                <div class='row-fluid'>
                  <div class='span4 pull-center'>
                    <i class='icon-cogs enormous-icon circled pull-center'></i>
                  </div>
                  <div class='span8'>
                    <h3>Maintainable test code</h3>
                    <p>
                      Good tests are a valuable asset, but poorly-maintained tests become a burden. We'll show you how
                      to structure your tests so they stay fun to work with in the long run.
                    </p>
                  </div>
                </div>
                </hr>
              </li>
              <li class='span6'>
                <div class='row-fluid'>
                  <div class='span4 pull-center'>
                    <i class='icon-beaker enormous-icon circled pull-center'></i>
                  </div>
                  <div class='span8'>
                    <h3>Automation labs</h3>
                    <p>
                      There are as many methods of automating an application as there are development stacks. We'll help you pick the right tool for the job, and give you a chance to practice using it while we're around to help.
                    </p>
                  </div>
                </div>
                <hr>
                <div class='row-fluid'>
                  <div class='span4 pull-center'>
                    <i class='icon-briefcase enormous-icon circled pull-center'></i>
                  </div>
                  <div class='span8'>
                    <h3>Carrying Legacy Baggage?</h3>
                    <p>
                      You're probably working on existing projects rather than starting shiny new ones. We'll show you 
                      pragmatic steps to enjoy the benefits of BDD on an existing application with no test coverage.
                    </p>
                  </div>
                </div>
                </hr>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
