    <!-- Main Content -->
    <div id='content' role='main'>
      <section class='section alt' id='promo'>
        <div class='container'>
          <div class='hero-unit'>
            <h1>Our Services.</h1>
            <p>
              Voluptates voluptate natus sit minus dolores veritatis consequatur molestiae nam. veniam quia blanditiis nostrum eos suscipit impedit eos. aspernatur distinctio dolore exercitationem atque in consequuntur et sunt minima nemo. voluptate maiores reiciendis quod ab in deleniti fugiat unde quos. doloremque suscipit hic minus suscipit laudantium quidem nostrum hic
            </p>
          </div>
          <div class='row-fluid'>
            <div class='well span3 pull-center'>
              <h3>
                <i class='icon-beaker huge-icon'></i>
                <span class='blocked'>Web applications</span>
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
            </div>
            <div class='well span3 pull-center'>
              <h3>
                <i class='icon-bullhorn huge-icon'></i>
                <span class='blocked'>Mobile Design</span>
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
            </div>
            <div class='well span3 pull-center'>
              <h3>
                <i class='icon-signal huge-icon'></i>
                <span class='blocked'>Facebook ads</span>
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
            </div>
            <div class='well span3 pull-center'>
              <h3>
                <i class='icon-magnet huge-icon'></i>
                <span class='blocked'>Branding & indentity</span>
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class='section'>
        <div class='container'>
          <div class='page-header'>
            <h1>
              Future plans
              <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
            </h1>
          </div>
          <div class='row-fluid'>
            <ul class='thumbnails bordered'>
              <li class='span6'>
                <div class='row-fluid'>
                  <div class='span4 pull-center'>
                    <i class='icon-beaker enormous-icon circled pull-center'></i>
                  </div>
                  <div class='span8'>
                    <h3>Web labs</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
                <hr>
                  <div class='row-fluid'>
                    <div class='span4 pull-center'>
                      <i class='icon-map-marker enormous-icon circled pull-center'></i>
                    </div>
                    <div class='span8'>
                      <h3>Geolocation</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                    </div>
                  </div>
                </hr>
              </li>
              <li class='span6'>
                <div class='row-fluid'>
                  <div class='span4 pull-center'>
                    <i class='icon-cloud enormous-icon circled pull-center'></i>
                  </div>
                  <div class='span8'>
                    <h3>Cloud services</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
                <hr>
                  <div class='row-fluid'>
                    <div class='span4 pull-center'>
                      <i class='icon-comments-alt enormous-icon circled pull-center'></i>
                    </div>
                    <div class='span8'>
                      <h3>Social apps</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                    </div>
                  </div>
                </hr>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
