<section class='section alt' id='promo'>
  <div class='container'>
    <div class='hero-unit'>
      <h1>In-house courses</h1>
      <p>
        All the power of <a href='/'>BDD Kickstart</a>, at your location, with your team.  Give them all a flying start with Behaviour Driven Development, the collaborative process that's changing the face of software development.</p>
      <p>
        In three days, we'll teach you everything you need to be off and running with BDD, and we’ll do it at your location, with your team.
      </p>

      <p>
        With a in-house course, the experience will be catered to the specific problems that your organisation faces and we’ll practice using the techniques on your projects.

        On the Transform package, we'll also come by a few weeks later to find out how you're getting on, and pinpoint any bad habits before they've had a chance to bed in.</p>
    </div>
    <div class='hero-unit pull-left'>
      <h2>
        <a class="btn btn-primary btn-large" href="mailto:hello@bddkickstart.com?subject=In-house training enquiry">Request a call</a>
      </h2>
    </div>
  </div>
</section>
<section class='section' id='content' role='main'>
  <div class='container'>
    <div class='row-fluid'>
      <div class='span12'>
        <div class='row-fluid'>
          <div class='well pricing-table span4 pull-center'>
            <h3><span class='blocked'>BDD Kickstart Express</span></h3>
            <h2 class='pricing-table-price'>
              <span>£</span>
              800
              <small>per delegate</small>
            </h2>
            <ul class='pricing-table-list'>
              <li>2 day BDD Kickstart course at your location, at your convenience</li>
              <li>Reduced length course provides a higher level summary of important concepts</li>
              <li>Standard course material<br/>and abstract examples</li>
              <li>Min 5, max 15 delegates</li>
              <li>One trainer only<br/>&nbsp;</li>
              <li>No follow-up coaching<br/>or conference calls included</li>
              <li><br/><br/></li>
              <li><br/><br/></li>
            </ul>
            <a class='btn btn-primary' href='mailto:hello@bddkickstart.com?subject=BDD Kickstart Basic Enquiry'>Request a call</a>
          </div>
          <div class='well pricing-table span4 pull-center'>
            <h3><span class='blocked'>BDD Kickstart Regular</span></h3>
            <h2 class='pricing-table-price'>
              <span>£</span>
              1,200
              <small>per delegate</small>
            </h2>
            <ul class='pricing-table-list'>
              <li>3 day BDD Kickstart course at your location, at your convenience</li>
              <li>Full length <a href='/details'>comprehensive,<br/>in-depth course</a></li>
              <li>Use real examples from your backlog to target training to your team</li>
              <li>Min 10, max 20 delegates</li>
              <li>Two trainers: more questions answered, more dedicated time with delegates</li>
              <li>No follow-up coaching<br/>or conference calls included</li>
              <li><br/><br/></li>
              <li><br/><br/></li>
            </ul>
            <a class='btn btn-primary' href='mailto:hello@bddkickstart.com?subject=BDD Kickstart Regular Enquiry'>Request a call</a>
          </div>
          <div class='well pricing-table pricing-table-featured span4 pull-center'>
            <h3><span class='blocked'>BDD Kickstart Transform</span></h3>
            <h2 class='pricing-table-price'>
              <span>£</span>
              1,600
              <small>per delegate</small>
            </h2>
            <ul class='pricing-table-list'>
              <li>3 day BDD Kickstart course at your location, at your convenience</li>
              <li>Full length <a style='color:white; text-decoration: underline' href='/details'>comprehensive,<br/>in-depth course</a></li>
              <li>Use real examples from your backlog to target training to your team</li>
              <li>Min 10, max 20 delegates</li>
              <li>Two trainers: more questions answered, more dedicated time with delegates</li>
              <li>Two days follow up coaching with your team with a trainer †</li>
              <li>Two follow up Q&amp;A conference calls with a trainer †</li>
              <li>Unlimited email correspondence with delegates †</li>
            </ul>
            <a class='btn' href='mailto:hello@bddkickstart.com?subject=BDD Kickstart Transform Enquiry'>Request a call</a>
          </div>
        </div>
      </div>
    </div>

    <div class='row-fluid'>
      <div class='muted'>Prices exclude VAT where appropriate.<br/><br/>
        * our recommended option to give the most value to your team.<br/>
        † to be used within 3 months of date of course.
      </div>
    </div>
  </div>
</section>
