<section class='section alt' id='promo'>
  <div class='container'>
    <div class='hero-unit'>
      <h1>In-house courses</h1>
      <p>
        All the power of <a href='/'>BDD Kickstart</a>, at your location, with your team.  Give them all a flying start with Behaviour Driven Development, the collaborative process that's changing the face of software development.</p>
      <p>
        In three days, we'll teach you everything you need to be off and running with BDD, and we’ll do it at your location, with your team.
      </p>

      <p>
        With a in-house course, the experience will be catered to the specific problems that your organisation faces and we’ll practice using the techniques on your projects.

        On the Transform package, we'll also come by a few weeks later to find out how you're getting on, and pinpoint any bad habits before they've had a chance to bed in.</p>
    </div>
    <div class='hero-unit pull-left'>
      <h2>
        <a class="btn btn-primary btn-large" href="mailto:hello@bddkickstart.com?subject=In-house training enquiry">Request a call</a>
      </h2>
    </div>
  </div>
</section>
<section class='section' id='content' role='main'>
  <div class='container'>
    <div class='row-fluid'>
      <div class='span12'>
        <div class='row-fluid'>
          <div class='well pricing-table offset2 span4 pull-center'>
            <h3><span class='blocked'>BDD Kickstart Express</span></h3>
            <h2 class='pricing-table-price'>
              <span>£</span>
              6,000
            </h2>
            <ul class='pricing-table-list'>
              <li>2 day BDD Kickstart course at your location, at your convenience</li>
              <li>Reduced length course provides a higher level summary of important concepts</li>
              <li>Use real examples from your backlog to target training to your team</li>
              <li>Up to 15 delegates</li>
              <li>Membership of private BDD Kickstart alumni mailing list</li>
              <li>One trainer<br/>&nbsp;</li>
            </ul>
            <a class='btn btn-primary' href='mailto:hello@bddkickstart.com?subject=BDD Kickstart Basic Enquiry'>Request a call</a>
          </div>
          <div class='well pricing-table pricing-table-featured span4 pull-center'>
            <h3><span class='blocked'>BDD Kickstart Transform</span></h3>
            <h2 class='pricing-table-price'>
              <span>£</span>
              15,000
            </h2>
            <ul class='pricing-table-list'>
              <li>3 day BDD Kickstart course at your location, at your convenience</li>
              <li>Full length <a style='color:white; text-decoration: underline' href='/details'>comprehensive,<br/>in-depth course</a></li>
              <li>Use real examples from your backlog to target training to your team</li>
              <li>Up to 15 delegates</li>
              <li>Membership of private BDD Kickstart alumni mailing list</li>
              <li>Two trainers: more questions answered, more dedicated time with delegates</li>
            </ul>
            <a class='btn' href='mailto:hello@bddkickstart.com?subject=BDD Kickstart Transform Enquiry'>Request a call</a>
          </div>
        </div>
      </div>
    </div>

    <div class='row-fluid'>
      <div class='muted'>Prices exclude VAT where appropriate.<br/><br/>
        * our recommended option to give the most value to your team.<br/>
      </div>
    </div>
  </div>
</section>
