section#promo.section.alt
  .container
    #myCarousel.carousel.slide
      .carousel-inner
        .active.item
          .row-fluid
            .span7
              .hero-unit
                h1
                  |  A masterclass in Behaviour-driven Development. 
                p
                  |  Get a flying start with BDD, the collaborative process that's changing the face of software development. 
                a.btn.btn-primary.btn-large[href="details"]
                  | Find out more
            .span5
              img.pull-right[alt="students" src="images/hero-shot-students.jpeg"]
        .item
          .row-fluid
            div
              .hero-unit.pull-center
                h1
                  |  Less time hunting bugs
                  br
                  | More time shipping features 
                p
                  |  Learn to catch bugs before they've even been written, giving you more time to focus on building software that matters. 
                a.btn.btn-primary.btn-large[href="details"]
                  | Find out more
        .item
          .row-fluid
            .span7
              .hero-unit
                h1
                  |  Learn from the experts. 
                p
                  |  With 2 books and over 30 years' in software development, Matt and Chris have a wealth of experience to share with you. 
                a.btn.btn-primary.btn-large[href="details"]
                  | Find out more
            .span5
              img.pull-right[alt="The Cucumber Book" src="images/hero-shot-book.jpeg"]
      a.carousel-control.left[data-slide="prev" href="#myCarousel"]
        | ‹
      a.carousel-control.right[data-slide="next" href="#myCarousel"]
        | ›
    .row-fluid

section.section
  .container
    .row-fluid
      .span-12.pull-center
        p
          | Sign up for our newsletter
        form.form-horizontal[action="http://thinkcodelearn.createsend.com/t/r/s/yhtrfu/" method="post"]
          input#yhtrfu-yhtrfu[type="text" name="cm-yhtrfu-yhtrfu" placeholder="Email"]
          button.btn.btn-primary[type="submit"]
            | Sign me up
section.section.alt
  .container
    .page-header
      h1
        |  What are the benefits? 
        small
          | Why BDD will make you happier
    .row-fluid
      ul.thumbnails.bordered.pull-center
        li.span4.pull-center.well
          h3
            i.icon-truck.huge-icon
            span.blocked
              | Focus on value
          p
            |  Learn expert techniques to break down requirements into bite-size pieces. Now you can focus on shipping the stuff that matters most. 
        li.span4.pull-center.well
          h3
            i.icon-signal.huge-icon
            span.blocked
              | Predictable Quality
          p
            |  No more frantic scrabbling to a deadline. Push the risk to the front of your project so you can power over the finish line with confidence. 
        li.span4.pull-center.well
          h3
            i.icon-umbrella.huge-icon
            span.blocked
              | Protection from defects
          p
            |  Living documentation produced by a BDD process catches bugs before they're coded, and provides lasting protection against regressions. 
section.section
  .container
    .row-fluid
      .hero-unit.pull-center
        p
          | "Without a doubt, our team has greatly benefited. I have been in IT for 13 years and have attended training classes on various subjects during my career.
        h1
          | This was by far the most useful training I have ever attended."
        p
          a[target="_blank" href="http://blog.mattwynne.net/2011/08/24/bdd-training/#comment-1481"]
            | Amy Espinosa, User Experience & Information Architecture Manager, Wolters Kluwer
section.section.alt
  .container
    .page-header
      h1
        |  Who are we? 
        small
          | Nice to meet you.
    ul.thumbnails.bordered.thumbnail-list
      li.span6
        a[href="about#matt"]
          figure.thumbnail-figure
            img[alt="" src="images/matt.png"]
            figcaption.thumbnail-title
              h3
                span
                  | Matt Wynne
              p
                span
                  | Teacher
        p
          |  Matt works as an independent consultant, helping teams like yours learn to enjoy delivering software to the best of their abilities. He's co-author of 
          a[href="http://pragprog.com/book/hwcuc"]
            | The Cucumber Book: Behaviour-Driven Development for Testers and Developers
          | . In his spare time he is a core developer on the 
          a[href="http://cukes.info"]
            | Cucumber
          |  project. He blogs at 
          a[href="http://mattwynne.net"]
            | mattwynne.net
          |  and tweets as 
          a[href="http://twitter.com/mattwynne"]
            | @mattwynne
          | . 
      li.span6
        a[href="/about#chris"]
          figure.thumbnail-figure
            img[alt="" src="images/chris.png"]
            figcaption.thumbnail-title
              h3
                span
                  | Chris Parsons
              p
                span
                  | Teacher
        p
          |  Chris trains and speaks internationally on Ruby, Cucumber, being agile, code quality and programmer education at conferences including Rubyconf, the Scottish Ruby Conference, and Software Craftsmanship North America and Software Craftsmanship UK. He blogs at 
          a[href="http://chrismdp.com/"]
            | http://chrismdp.com/
          |  and tweets as 
          a[href="http://twitter.com/chrismdp"]
            | @chrismdp
          | . 
