      <section class='section alt' id='promo'>
        <div class='container'>
          <div class='carousel slide' id='myCarousel'>
            <!-- Carousel items -->
            <div class='carousel-inner'>
              <div class='active item'>
                <div class='row-fluid'>
                  <div class='span7'>
                    <div class='hero-unit'>
                      <h1>A Masterclass in Behaviour-Driven Development.</h1>
                      <p>Get a flying start with BDD, the collaborative process that's changing the face of software development.</p>
                    </div>
                  </div>
                  <div class='span5'>
                    <img alt='students' class='pull-right' src='images/hero-shot-students.jpeg' />
                  </div>
                </div>
              </div>
              <div class='item'>
                <div class='row-fluid'>
                  <div class='hero-unit pull-center'>
                    <h1>Less time hunting bugs: more time shipping features</h1>
                    <p>Learn to catch bugs before they've even been written, giving you more time to focus on building software that matters.</p>
                  </div>
                </div>
              </div>
              <div class='item'>
                <div class='row-fluid'>
                  <div class='span7'>
                    <div class='hero-unit'>
                      <h1>Learn from the experts.</h1>
                      <p>With 2 books and over 30 years' in software development, Matt and Chris have a wealth of experience to share with you.</p>
                    </div>
                  </div>
                  <div class='span5'>
                    <img alt='book' class='pull-right' src='images/hero-shot-book.jpeg' />
                  </div>
                </div>
              </div>
            </div>
            <!-- Carousel nav -->
            <a class='carousel-control left' data-slide='prev' href='#myCarousel'>&lsaquo;</a>
            <a class='carousel-control right' data-slide='next' href='#myCarousel'>&rsaquo;</a>
          </div>
          <div class="row-fluid">
            <div class="span-12 pull-center">
              <a class="btn btn-primary btn-large" href="details">Find out more</a>
            </div>
          </div>
        </div>
      </section>
      <section class='section'>
        <div class='container'>
          <div class='page-header'>
            <h1>
              What are the benefits?
              <small>Why BDD will make you happier</small>
            </h1>
          </div>
          <div class='row-fluid'>
            <ul class='thumbnails bordered pull-center'>
              <li class='span4 pull-center'>
                <h3>
                  <i class='icon-truck huge-icon'></i>
                  <span class='blocked'>Focus on value</span>
                </h3>
                <p>
                  Learn expert techniques to break down requirements into bite-size pieces. Now you can focus on shipping the stuff that matters most.
                </p>
              </li>
              <li class='span4 pull-center'>
                <h3>
                  <i class='icon-signal huge-icon'></i>
                  <span class='blocked'>Predictable Quality</span>
                </h3>
                <p>
                  No more frantic scrabbling to a deadline. Push the risk to the front of your 
                  project so you can stroll over the finish line.
                </p>
              </li>
              <li class='span4 pull-center'>
                <h3>
                  <i class='icon-umbrella huge-icon'></i>
                  <span class='blocked'>Protection from defects</span>
                </h3>
                <p>
                  Living documentation produced by a BDD process catches bugs before they're coded, and provides lasting protection against regressions.
                </p>
              </li>
            </ul>
          </div>
        </section>
      <section class='section alt'>
        <div class='container'>
          <div class='page-header'>
            <h1>
              Who are we?
              <small>Nice to meet you.</small>
            </h1>
          </div>
          <ul class='thumbnails bordered thumbnail-list'>
            <li class='span6'>
              <a href='about#matt'>
                <figure class='thumbnail-figure'>
                  <img alt='' src='images/matt.png'>
                    <figcaption class='thumbnail-title'>
                      <h3>
                        <span>Matt Wynne</span>
                      </h3>
                      <p>
                        <span>Teacher</span>
                      </p>
                    </figcaption>
                  </img>
                </figure>
              </a>
              <p>
                Matt works as an independent consultant, helping teams like yours learn to enjoy delivering software to the best of their abilities. He's co-author of <a href="http://pragprog.com/book/hwcuc">The Cucumber Book: Behaviour-Driven Development for Testers and Developers</a>.
                In his spare time he is a core developer on the <a href="http://cukes.info">Cucumber</a> project.
                He blogs at <a href="http://mattwynne.net">mattwynne.net</a> and tweets as <a href="http://twitter.com/mattwynne">@mattwynne</a>.
              </p>
            </li>
            <li class='span6'>
              <a href='/about#chris'>
                <figure class='thumbnail-figure'>
                  <img alt='' src='images/chris-drunk-face.png'>
                    <figcaption class='thumbnail-title'>
                      <h3>
                        <span>Chris Parsons</span>
                      </h3>
                      <p>
                        <span>Teacher</span>
                      </p>
                    </figcaption>
                  </img>
                </figure>
              </a>
              <p>
                Chris trains and speaks internationally on Ruby, Cucumber, being agile, code quality and programmer education at conferences including Rubyconf, the Scottish Ruby Conference, and Software Craftsmanship North America and Software Craftsmanship UK. He blogs at <a href="http://chrismdp.com/">http://chrismdp.com/</a> and tweets as <a href="http://twitter.com/chrismdp">@chrismdp</a>.
              </p>
            </li>
          </ul>
        </div>
      </section>
      </div>
