<section class="section alt">
  <div class="container">
    <div class="hero-unit">
      <h1>Thanks!</h1>
      <p>
        Thanks for registering on the course. We look forward to meeting you soon.
      </p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="hero-unit">
      <p>
        In the mean time, we suggest you subscribe to the newsletter for latest updates:
      </p>
      <form action="http://thinkcodelearn.createsend.com/t/r/s/yhtrfu/" method="post" class="form-horizontal">
        <input type="text" name="cm-yhtrfu-yhtrfu" id="yhtrfu-yhtrfu" placeholder="Email"/>
        <button type="submit" class="btn btn-primary">Sign me up</button>
      </form>
      <p>
        We'll just use your address in the context of the Kickstart courses, and we won't give it to anyone else.</p>
      <h2>If you have further questions...</h2>

      <p>Contact us at <a href='mailto:hello@bddkickstart.com'>hello@<%= subject.domain_name %></a>.</p>

      <p>Click <a href="/">here</a> to return to the homepage.</p>
    </div>
  </div>
</section>
