section.section.alt
  .container
    .hero-unit
      h1
        | Thanks!
      p
        |  Thanks for registering on the course. We look forward to meeting you soon. 
section.section
  .container
    .hero-unit
      p
        |  In the mean time, we suggest you subscribe to the newsletter for latest updates: 
      form.form-horizontal action="http://thinkcodelearn.createsend.com/t/r/s/yhtrfu/" method="post"
        input#yhtrfu-yhtrfu type="text" name="cm-yhtrfu-yhtrfu" placeholder="Email"
        button.btn.btn-primary< type="submit"
          | Sign me up
      p
        |  We'll just use your address in the context of the Kickstart courses, and we won't give it to anyone else.
      h2
        | If you have further questions...
      p
        | Contact us at 
        a[href="mailto:sales@cucumber.pro"] sales@cucumber.pro
        | .
      p
        | Click 
        a[href="/"] here
        |  to return to the homepage.
