.brand img {
  position: relative;
  top: -5px;
}

article.course {
  padding-top: 30px;
  padding-bottom: 50px;
}

#tito-register-form {
  min-width: 280px;
  width: 75% !important;
}

.tito-ticket-price-quantity {
  margin-top: -27px;
}

.bddk-ribbon {
	z-index: 10000;
	position: fixed;
	top: 0;
	right: 0;
	border: 0;
	opacity: .9;
}

.brand .umbrella {
  display: block;
  margin: 0;
  text-align: left;
  text-transform: none;
  font-weight: 400;
  font-size: 20px;
}

.brand .umbrella img {
  width: 160px;
  vertical-align: text-bottom;
  padding-bottom: 0.5px;
}

@media (max-width: 979px) {
	.bddk-ribbon {
    display: none;
	}
}
