.brand img {
  position: relative;
  top: -5px;
}

article.course {
  padding-top: 30px;
  padding-bottom: 50px;
}

#tito-register-form {
  min-width: 280px;
}

.tito-ticket-price-quantity {
  margin-top: -27px;
}
